@model IEnumerable<Projekt_zaliczeniowy.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"> Tickets</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.howManyPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Match)
            </th>
            <th><span>Operations</span></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.howManyPeople)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a class="hover-effect text-decoration-underline" asp-action="Details" asp-controller="Match" asp-route-id="@item.Match.Id">@item.Match.Id</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"> <i class="fa fa-trash"></i></a>  
            </td>
        </tr>
}
    </tbody>
</table>
