@model IEnumerable<Projekt_zaliczeniowy.Models.Match>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"> Matches</h1>

<p class="text-center">
    <a class="create-button border border-dark rounded p-1 " asp-action="Create"> Add new match</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                <span>Stadium</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th><span>Operations</span></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (@item.Teams.FirstOrDefault(x => x.Id == item.HostId) == null)
                {
                    <span>Unknown data</span>
                } else {
                    <a class="hover-effect" asp-controller="Team" asp-action="Details" asp-route-id="@item.HostId">@item.Teams.First(x => x.Id == item.HostId).Name</a>
                }
            </td>
            <td>
                    @if (@item.Teams.FirstOrDefault(x => x.Id == item.GuestId) == null)
                {
                    <span>Unknown data</span>
                }
                else
                {
                    <a class="hover-effect" asp-controller="Team" asp-action="Details" asp-route-id="@item.GuestId">@item.Teams.First(x => x.Id == item.GuestId).Name</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    @if (@item.Teams.FirstOrDefault(x => x.Id == item.HostId) == null)
                    {
                        <span>Unknown data</span>
                    }
                    else
                    {
                       @item.Teams.First(x => x.Id == item.HostId).Stadium
                    }
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tickets_amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)€
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"> <i class="fa fa-trash"></i></a>  |
                @if(item.Tickets_amount>0){
                    <a asp-action="Create" asp-controller="Ticket" asp-route-id="@item.Id" class="ticket-button border border-dark rounded p-1 ">Buy ticket</a>
                } else {
                    <span class="bold">No tickets left</span>
                }
                
            </td>
        </tr>
}
    </tbody>
</table>
