@model IEnumerable<Projekt_zaliczeniowy.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Players</h1>

<p class="text-center">
    <a class="create-button border border-dark rounded p-1 " asp-action="Create"> Add new player</a>
</p>

<partial name="~/Views/Shared/_Search.cshtml" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th><span>Operations</span></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                    <a asp-action="Details" asp-controller="Team" asp-route-id="@item.Team.Id">@Html.DisplayFor(modelItem => item.Team.Name)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"> <i class="fa fa-trash"></i></a>  
            </td>
        </tr>
}
    </tbody>
</table>
